body  {
	font: 1em 'Asap',sans-serif;
	background: #EEE url(../img/bg.jpg);
	margin:0;
}
h1,h2 {
	padding:5px 10px 5px 10px;
	color:white;
	font-size:1.3em;
	margin-bottom:10px;
	border-radius:3px;
}
/*degradé verde*/
h1, .boton2 {
    background: #58b54b -webkit-linear-gradient(top, #80c777 0%,#58b54b 100%);
    background: #58b54b -moz-linear-gradient(top, #80c777 0%,#58b54b 100%);
    background: #58b54b -o-linear-gradient(top, #80c777 0%,#58b54b 100%);
    background: #58b54b -ms-linear-gradient(top, #80c777 0%,#58b54b 100%);
    background: #58b54b linear-gradient(to bottom, #80c777 0%,#58b54b 100%);
}
/*degradé azul*/
h2, .boton {
    background: #3566cc -webkit-linear-gradient(top, #6794d8 0%,#3566cc 100%);
    background: #3566cc -moz-linear-gradient(top, #6794d8 0%,#3566cc 100%);
    background: #3566cc -o-linear-gradient(top, #6794d8 0%,#3566cc 100%);
    background: #3566cc -ms-linear-gradient(top, #6794d8 0%,#3566cc 100%);
    background: #3566cc linear-gradient(to bottom, #6794d8 0%,#3566cc 100%);
}
h2 {
	margin:10px 0;
	font-size:1em;
}
h1, h2, th {
	font-weight:normal;
}
input {
	padding:5px;
	margin-top:8px;
}
#login input {
	margin-top:8px;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #000;
}
tr { border-bottom: 1px solid #CCC }
th, td { padding: .5em }
#logo{
	background:url(../img/logo.png) no-repeat;
	height:50px;
}
/*Formulario*/
.formulario ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.formulario li{ padding:.5% 0em; } 
.formulario label {
	display: inline-block;
	width:100%;
}
.formulario input, .formulario textarea{
	padding:1%;
	width:60%;
}
.formulario input.boton { width:10%; }
a.edit, a.delete
{
	display: inline-block;
	width:40px;
	height:20px;
	background:url(../img/edit.png) no-repeat;
}
a.delete { background:url(../img/delete.png) no-repeat; }
input.error ,textarea.error{ border: 2px solid #c50202; }
label.error {
	color:#c50202;
	width:100%;
	font-size:0.75em;
	margin:0;
}
#mensaje {
	color:#444444;
	text-align:center;
}
.clearfix { clear:both; }
#main,#menu,header,footer,#copyrigth {
	clear:both;
	width:1140px;
	box-sizing: border-box;
	margin:auto;
	margin-bottom:10px;
}
footer {
	padding:1%;
	color:white;
	background:black;
	text-align:right;
	font-size:.8em;
	border-radius:3px;
}
footer a {
	text-decoration:none;
	color:white;
}
footer a:hover, footer a:focus, footer a:active { text-decoration:underline; }
#copyrigth {
	text-align:center;
	font-size:.625em;
}
#login,#search { float:right; }
#logo { clear:both; }
#redessociales,#top {
	width:50px;
	position:fixed;
	top:25%;
	right:0;
	z-index:3;
}
#top { top:92% }
.boton {
	color:white;
	padding:5px;
	border:0px;
	border-radius:5px;
	-webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
.boton:hover, .boton:focus, .boton:active { background:gray; }
.boton2 {
	width:80px;
	display:block;
	float:right;
	color:white;
	padding:6px;
	border-radius:5px;
	text-decoration:none;
	font-size:.8125em;
	margin-top:8px;
	margin-left:5px;
	-webkit-transition: background .2s ease-in-out;
    -moz-transition: background .2s ease-in-out;
    -o-transition: background .2s ease-in-out;
    -ms-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
}
.boton2:hover, .boton2:focus, .boton2:active { background: #444444 url(../img/next.png) no-repeat right; }
.comentario {
	background: #fff;
	border-radius:3px;
	padding:10px;
}
#top
{
	width:40px;
	position:fixed;
	top:25%;
	right:0;
	z-index:3;
	top:92%;
	height: 39px;
	background:url(../img/top.png);
}
/*Menu Principal*/
nav {
	margin-bottom:10px;
	max-width: 100%;
	height: 50px;
    background: #4c4e5a -webkit-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: #4c4e5a -moz-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: #4c4e5a -o-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: #4c4e5a -ms-linear-gradient(top, #4c4e5a 0%,#2c2d33 100%);
    background: #4c4e5a linear-gradient(to bottom, #4c4e5a 0%,#2c2d33 100%);
	
}
ul.menu, ul.menu ul, ul.menu li, ul.menu a {
    margin: 0;
    padding: 0;
    border: none;
}
ul.menu {
    height: 50px;
    max-width: 500px;
	float:left;
	margin:auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
 
ul.menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 40px;
}
ul.menu li a {
    display: block;
    padding: 0 14px;
    margin: 6px 0;
    line-height: 36px;
    text-decoration: none;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;
    font-size: 1em;
    color: #f3f3f3;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}
 
ul.menu li:first-child a { border-left: none; }
ul.menu li:last-child a{ border-right: none; }
ul.menu a:hover, ul.menu a:focus, ul.menu a:active { color: #73abff; }
ul.menu ul {
    position: absolute;
    top: 50px;
    left: 0;
    opacity: 0;
    background: rgba(0,0,0,.67);
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-transition: opacity .25s ease .1s;
    -moz-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
}
ul.menu li:hover > ul { opacity: 1; }
ul.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;
    -webkit-transition: height .25s ease .1s;
    -moz-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
}
ul.menu li:hover > ul li {
    height: 36px;
    overflow: visible;
    padding: 0;
}
ul.menu ul li a {
    width: 130px;
    padding: 0 10px;
    margin: 0;
    font-size: .875em;
    border: none;
    border-bottom: 1px solid #353539;
}
ul.menu ul li:last-child a { border: none; }
@media screen and (max-width: 1359px) {
	#main,#menu,header,footer,#copyrigth { width:960px }
}
@media screen and (max-width: 1023px) {
	#main,#menu,header,footer,#copyrigth { width:720px }
}
@media screen and (max-width: 767px) {
	#main,#menu,header,footer,#copyrigth { width:auto }
}